@charset "UTF-8";

.visual { background-image: url(/img/sub-img/sub4-1-visual.png);}

/* sub4-1 -s */
.strength-wrap {
    box-sizing: border-box;
    padding-top: 142px; margin-bottom: 170px;
}
.unite { margin-bottom: 80px;}
.well-being {background-image: url(/img/sub-img/stren-bg.png); background-position: center center; background-repeat: no-repeat;}
.resource {background-image: url(/img/sub-img/stren-bg.png); background-position: center center; background-repeat: no-repeat;}
.unite::before {content: "";
    float: left;
    width: 520px; height: 300px;
    margin-right: 60px;
    background-image: url(/img/sub-img/stren-img1.png);
}
.unite:nth-child(2)::before { background-image: url(/img/sub-img/stren-img2.png);}
.unite:nth-child(3)::before { background-image: url(/img/sub-img/stren-img3.png);}
.unite:nth-child(4)::before { background-image: url(/img/sub-img/stren-img4.png);}
.box-wrap-regular { 
    float: left; 
    margin-top: 50px;
}
.box-wrap-tit { margin-bottom: 20px; }
.box-wrap-tit strong {
    margin-right: 20px; 
    font-weight: 800; font-size: 45px; color: #c00810; line-height: 49px; 
}
.box-wrap-tit em { font-weight: 800;  font-size: 45px; line-height: 49px; }
.box-wrap-tit span { font-size: 45px; line-height: 49px;}
.box-wrap-description strong { 
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.box-wrap-description em { 
    display: block;
    margin-bottom: 10px;
    color: #555;
}
.box-wrap-description p { 
    margin-bottom: 10px;
    color: #777;
}
.best-introduction-wrap {
    box-sizing: border-box;
    margin-bottom: 170px; padding-top: 142px;
}
/* sub4-1 -e */
/* sub4-2 -s */
/* sub4-2 -e */
/* sub4-3 -s */
/* sub4-3 -e */