@charset "UTF-8";

.visual { background-image: url(/img/sub-img/sub4-1-visual.png);}

/* sub4-1 -s */
.strength-wrap {
    box-sizing: border-box;
    padding-top: 142px; margin-bottom: 170px;
}
.unite { margin-bottom: 80px;}
.well-being {background-image: url(/img/sub-img/stren-bg.png); background-position: center center; background-repeat: no-repeat;}
.resource {background-image: url(/img/sub-img/stren-bg.png); background-position: center center; background-repeat: no-repeat;}
.unite::before {content: "";
    float: left;
    width: 520px; height: 300px;
    margin-right: 60px;
    background-image: url(/img/sub-img/stren-img1.png);
}
.unite:nth-child(2)::before { background-image: url(/img/sub-img/stren-img2.png);}
.unite:nth-child(3)::before { background-image: url(/img/sub-img/stren-img3.png);}
.unite:nth-child(4)::before { background-image: url(/img/sub-img/stren-img4.png);}
.box-wrap-regular { 
    float: left; 
    margin-top: 50px;
}
.box-wrap-tit { margin-bottom: 20px; }
.box-wrap-tit strong {
    margin-right: 20px; 
    font-weight: 800; font-size: 45px; color: #c00810; line-height: 49px; 
}
.box-wrap-tit em { font-weight: 800;  font-size: 45px; line-height: 49px; }
.box-wrap-tit span { font-size: 45px; line-height: 49px;}
.box-wrap-description strong { 
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.box-wrap-description em { 
    display: block;
    margin-bottom: 10px;
    color: #555;
}
.box-wrap-description p { 
    margin-bottom: 10px;
    color: #777;
}
.best-introduction-wrap {
    box-sizing: border-box;
    margin-bottom: 170px; padding-top: 142px;
}
.info-wrap { padding: 100px 170px; }
.infographic{ 
    float: left;
    width: 450px;
    position: relative;
}
.infographic::before{content: "";
    display: block;
    width: 300px; height: 300px;
    border-radius: 100%;
    background-image: url(/img/sub-img/marketing.jpg); background-position: center center; background-size: contain;
}
.infographic p { 
    padding: 0 10px;
    border-radius: 100px;
    font-weight: 800; color: #fff; line-height: 40px;
    background-color: rgb(20, 153, 230);
    position: absolute; left: 0; top: 0; z-index: 10;
}
.infographic p:nth-child(1) { left: -160px;}
.infographic p:nth-child(2) { left: 160px; top: -60px;}
.infographic p:nth-child(3) { left:-160px; top: 305px;}
.infographic p:nth-child(4) { left: 340px; top: 100px;}
.infographic p:nth-child(5) { left: 160px; top: 320px;}
.wellbeing-infographic{ float: left;}
.big-circle { 
    margin: 0 auto;
    width: 150px; height: 150px;
    border-radius: 100%;
    background-color: rgb(238, 97, 31);
    font-weight: 800; color: #fff; line-height: 150px; text-align: center;
}
.common-circle {
    width: 80px; height: 80px;
    border: 3px solid rgb(238, 97, 31);
    background-color: #fff;
    color: rgb(238, 97, 31);
}
/* sub4-1 -e */
/* sub4-2 -s */
/* sub4-2 -e */
/* sub4-3 -s */
/* sub4-3 -e */